%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-

{require_otp_vsn, "R16|17"}.
{cover_enabled, true}.

{erl_opts, [debug_info, fail_on_warning]}.
{eunit_opts, [verbose]}.

{erlydtl_opts, [
                {compiler_options, [report, return, debug_info]}
               ]}.

{deps, [
        {lager_syslog, ".*", {git, "https://github.com/basho/lager_syslog.git", {branch, "2.1"}}},
        {yokozuna, ".*", {git, "https://github.com/basho/yokozuna.git", {branch, "2.1"}}}
       ]}.